.advantages__slogan {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: @lightblack;
  background-color: @white;
}

.advantages__list {
  .list-reset;
  background-color: f2f2f2;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.advantages__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #D22856;
}
