.gallery__wrapper {
  background-color: @white;
  text-align: center;
}

.gallery__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 57px;
}

.gallery__list {
  .list-reset;
}

.gallery__item {
  background-color: @grey;
  margin-bottom: 20px;
}

.gallery__item--special::before {
  content: "Панорама дня";
  background-color: @pink;
  color: @white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  width: 140px;
  height: 36px;
}

.gallery__user {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.gallery__post {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__likes {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}
