.gallery__wrapper {
  background-color: @white;
}
.gallery__description {
  font-weight: 400;
font-size: 14px;
line-height: 30px;
}
.gallery__list {
  .list-reset;
}
.gallery__user {
  font-weight: 700;
font-size: 14px;
line-height: 24px;
}
.gallery__time {
  font-weight: 300;
font-size: 12px;
line-height: 24px;
}
.gallery__post {
  font-weight: 400;
font-size: 14px;
line-height: 24px;
}

.gallery__likes {
  font-weight: 400;
font-size: 12px;
line-height: 24px;
}
