.gallery__wrapper {
  background-color: @white;
  text-align: center;
}

.gallery__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 57px;
}

.gallery__list {
  .list-reset;
}

.gallery__item {
  background-color: @grey;
  margin-bottom: 20px;
  width: 280px;
  text-align: left;
  .margin-center;
}

.gallery__user {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__user--special {
  width: 280px;
  background-color: @grey;
  .margin-center;
}

.gallery__post {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}

.gallery__number {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
}

.gallery__number {
  width: 280px;
  background-color: @grey;
  .margin-center;
}

.gallery__img {
  // width: 100%;
}

.gallery__likes {
  margin: 0;
}

.gallery__special-text{
  width: 280px;
  background-color: @grey;
  .margin-center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gallery__heart--special {
  width: 280px;
  background-color: @grey;
  align-self: left;
  margin-left: auto;
  margin-right: auto;
}

.gallery__special::before {
  display: block;
  content: "Панорама дня";
  background-color: @pink;
  color: @white;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  width: 140px;
  height: 36px;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: @tablet-width) {
  .gallery__description {
    font-size: 18px;
  }

  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery__item {
    width: 48%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .gallery__special {
    position: relative;
    width: 100%;
    background-color: transparent;
    display: block;
  }

  .gallery__img,
  .gallery__user,
  .gallery__post {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .gallery__heart {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    align-self: center;
    margin-left: auto;
    margin-right: 30px;
  }

  .gallery__likes {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .gallery__special {
    display: grid;
    grid-template-columns: 1fr 1fr 45px;
  }

  .gallery_img--special {

  }

  .gallery__user--special {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__likes--special {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .gallery__heart--special {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .gallery__post--special {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .gallery__special::before {
    top: 57px;
  }
}

@media (min-width: @desktop-width) {
  .gallery__special {
    width: 940px;
    .margin-center;
  }

  .gallery__list {
    width: 940px;
    .margin-center;
  }

  .gallery__item {
    width: 32%;
  }

  .gallery__special::before {
    top: 54px;
  }
}
