.page-header {
  color: @white;
  background-color: @darkgrey;
}

.page-header__logo {
  padding: 0;
  color: @white;
  align-self: center;
}

.page-header__logo:hover {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 40px;
    width: 145px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-color: @darkgrey;
  }

  .page-header__logo {
    height: 40px;
    width: 147px;
  }
}
