.page-header {
  color: @white;
  // background-color: @darkgrey;

  background: rgba(#000000, 0.3);
  position: relative;
  z-index: 2;
}

.page-header__logo {
  padding: 0;
  color: @white;
  margin-left: 20px;
  align-self: center;
}

.page-header__logo:hover {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .page-header__logo {
    height: 40px;
    width: 145px;
  }
}

@media (min-width: @desktop-width) {
  .page-header__logo {
    height: 40px;
    width: 147px;
  }
}
