.slider__toggles {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider__toggle {
  background: transparent;
  border: none;
}

.slider__toggle--current {
  padding-bottom: 0;
}
