.competition__wrapper {
  background-color: @white;
}

.competition__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.competition__list {
  .list-reset;
}

.competition__line-label {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}
