.tariff {
  background-color: @grey;
}

.tariff__wrapper {
  text-align: center;
  background-color: @grey;
  padding-top: 80px;
  padding-bottom: 40px;
  overflow: hidden;
  width: 320px;
  margin: 0 auto;
}

.tariff__table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-collapse: collapse;
  width: calc(276px * 3);
  transform: translateX(-254px);
}

.tariff__cell-header {
  background-color: @darkgrey;
  color: @white;
  width: 152px;
  border: 1px solid @grey;
  border-radius: 1px;
}

.tariff__cell-header--empty {
  opacity: 0;
  border-color: transparent;
  display: none;
}

.tariff__text-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: @white;
  margin: 0;
}

.tariff__text-header--hit {
  position: relative;
}

.tariff__text-header--hit::before {
  content: url("../img/index-imgs/hit.svg");
  position: absolute;
  top: -1px;
  left: -1px;
}

.tariff__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: @white;
}

.tariff__hit {
  font-size: 14px;
  line-height: 30px;
  color: @white;
  background-color: @pink;
}

.tariff__cell-row {
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
  border: 1px solid @lightgrey;
  border-radius: 1px;
  width: 276px;
  min-height: 45px;
}



.tariff__cell-row--hit {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff__text-cell-header {
  text-align: left;
  display: none;
}

.tariff__toggles {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .tariff__wrapper {
    width: 620px;
  }

  .tariff__table {
    transform: translateX(0);
    width: 100%;
  }

  .tariff__toggles {
    display: none;
  }

  .tariff__text-cell-header {
    display: table-cell;
  }

  .tariff__cell-header--empty {
    display: block;
  }

  .tariff_option {
    display: none;
  }

  .tariff__cell-row--hit {
    justify-content: center;
  }
}

@media (min-width: @desktop-width) {
  .tariff__wrapper {
    width: 940px;
  }
}
