.tariff__wrapper {
  text-align: center;
  background-color: @grey;
  padding-top: 80px;
  padding-bottom: 40px;
}

.tariff__table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.tariff__cell-header {
  background-color: @darkgrey;
  color: @white;
  width: 152px;
  height: 75px;
  border: 2px solid @darkgrey;
  border-radius: 1px;
}

.tariff__text-header {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: @white;
}

.tariff__text-header--hit::before {
  content: "Хит";
  text-transform: uppercase;
  background-color: @pink;
  color: @white;
}

.tariff__text {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  color: @white;
}

.tariff__hit {
  font-size: 14px;
  line-height: 30px;
  color: @white;
  background-color: @pink;
}

.tariff__cell-row {
  background-color: @white;
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
  border: 2px solid @lightgrey;
  border-radius: 1px;
  width: 153px;
  height: 45px;
}

.tariff__text-cell-header {
  text-align: left;
}

.tariff__toggles {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .tariff__toggles {
    display: none;
  }
}
