.upload__wrapper {
  text-align: center;
}

.upload__description {
  font-size: 14px;
  line-height: 30px;
  color: @darkgrey;
  margin-top: 50px;
  margin-bottom: 50px;
}

.upload__settings {
  background-color: @grey;
  padding-top: 20px;
}

.upload__buttons {
  background-color: @grey;
  padding-bottom: 40px;
}

.upload__post {
  .button-upload;
  border: 3px solid @pink;
  color: @pink;
  margin-bottom: 12px;
}

.upload__cancel {
  .button-upload;
  color: @darkgrey;
  opacity: 0.3;
  border: 3px solid @darkgrey;
}

